#mycanvas1{
    border: 1px solid black;
   
}
#mycanvas2{
    border: 1px solid black;
   
}
#mycanvas3{
    border: 1px solid black;
   
}
#mycanvas4{
    border: 1px solid black;
   
}
#mycanvas5{
    border: 1px solid black;
   
}